body{
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 14px;
  color: #283645;
}

.container{
  padding: 0 20px;
}

.btn{
  display: block;
  &--default{
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 50px;
  }
}

.download{
  text-align: center;
  &__icon{
    display: inline-block;
    &:not(:last-of-type){
      margin-right: 30px;
    }
  }
}

.skew-after{
  position: relative;
  &:after{
    content: "";
    display: block;
    height: 25px;
    background-image: url(../img/bg-triangle-white.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.triangle-after{
  position: relative;
  &:after{
    content: "";
    display: block;
    height: 34px;
    background-image: url(../img/bg-triangle-white-footer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -34px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.map{
  img{
    max-width: 100%;
  }
}
