@import "normalize.scss";

@mixin clearfix() {
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensansbold.woff2') format('woff2'),
         url('../fonts/opensansbold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
  font-family: 'OpenSans', Arial, sans-serif;
  color: #283645;
}

.container{
  padding: 0 20px;
}

.main-menu{
  background-color: #283645;
  &__container{
    padding: 0;
  }
  &__logo{
    width: 75px;
    height: 22px;
    background-image: url(../img/logo-pink-white-mobile.svg);
    background-repeat: no-repeat;
    float: left;
  }
  &__switcher{
    float: right;
    &--active{
      width: 25px;
      height: 25px;
      background-image: url(../img/icon-menu-cross.svg);
      background-repeat: no-repeat;
    }
  }
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__link{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    padding: 19px 15px;
  }
  &__top-panel{
    padding: 20px;
    @include clearfix();
  }
}


.page-header{
  &__intro-image{
    height: 400px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  &__intro .container{
    background-color: #1d2631;
    padding: 28px 20px 30px 20px;
    color: #fff;
  }
  &__intro-button{
    display: block;
    width: 280px;
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    border: 3px solid #fff;
    border-radius: 50px;
  }
  &__intro{
    height: 170px;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-position: 50% 25%;
  }
  &__intro-text{
    text-align: center;
    margin: 0;
    padding: 30px 20px 0 20px;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
  }
}


.download{
  text-align: center;
  &__icon{
    display: inline-block;
    &:not(:last-of-type){
      margin-right: 30px;

    }
  }
  &__description{
    font-size: 14px;
  }
}


.intro{
  padding: 30px 25px 25px 25px;
  text-align: center;
  &__text{
    font-size: 24px;
    font-weight: 200;
    color: #283645;
  }
}

.skew-after{
  position: relative;
  &:after{
    content: "";
    display: block;
    height: 25px;
    background-image: url(../img/bg-triangle-white.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.triangle-after{
  position: relative;
  &:after{
    content: "";
    display: block;
    height: 34px;
    background-image: url(../img/bg-triangle-white-footer.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -34px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}



.features{
  padding: 50px 0 315px 0;
  background-color: #f2f2f2;
  text-align: center;
  &__item{
    margin: 0 0 15px 0;
    &:last-child{
      margin: 0;
    }
  }
  &__item-title{
    font-size: 18px;
    font-weight: 600;
  }
  &__item-text{
    font-size: 14px;
  }
}


.reviews{
  padding: 45px 0 60px 0;
  text-align: center;
  &__item{
    margin: 0 0 15px 0;
    &:last-child{
      margin: 0;
    }
  }
  &__item-name{
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
  &__item-text{
    font-size: 14px;
    line-height: 2;
  }
}


.offers{
  padding: 85px 0 40px 0;
  background-color: #f2f2f2;
  table{
    width: 100%;
    background-color: #fff;
  }
  .offers__item-row td{
    @include clearfix();
  }
  &__item-head{
    background: #283645;
    color: #fff;
    padding: 15px 10px;

    &--hit{
      position: relative;
      background: url(../img/bg-hit.svg) no-repeat, #283645;
      &:before{
        content: "ХИТ";
        display: block;
        position: absolute;
        top: 15px;
        left: 8px;
        transform: rotate(-45deg);
      }
    }
  }
  &__item-title{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }
  &__item-price{
    font-size: 24px;
    font-weight: 200;
    margin: 0;
  }
  &__item-text{
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 20px 20px;
    float: left;
  }
  &__item-icon{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
  }
}



.contacts{
  text-align: center;
  padding: 40px 0 40px 0;
  p{
    margin-top: 0;
  }
  &__title{
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 35px;
  }
  &__item:not(:last-child){
    margin-bottom: 20px;
  }
  &__item-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  &__item-text{
    display: block;
    font-size: 24px;
    font-weight: 200;
    color: #d22856;
    text-decoration: none;
    margin-bottom: 0;
  }
}


/*======================
* PHOTO
======================*/

.photos{
  &__item{
    margin-bottom: 20px;
  }
  &__item-image{
    font-size: 0;
    &--panorama{
      position: relative;
      img{
        width: 100%;
      }
      &:after{
        content: "ПАНОРАМА ДНЯ";
        display: block;
        width: 140px;
        height: 36px;
        background-color: #d22856;
        color: #fff;
        position: absolute;
        top: 0;
        right: 20px;
      }
    }
  }
  &__item-main{
    margin: 0;
  }
  &__item-wrap{
    background: #f2f2f2;
    padding: 20px 15px;
    font-size: 14px;
    position: relative;
  }
  &__item-name,
  &__item-time{
    display: inline-block;
    vertical-align: baseline;
  }
  &__item-name{
    font-style: normal;
    font-weight: 600;
  }
  &__item-time{
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }
  &__item-like{
    color: #d22856;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
  }
}
