.btn {
  display: block;

  &--default {
    padding: 12px 10px;
    font-size: $font-size-big;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 50px;
  }
}
