.dots {
  display: table;
  margin: 0 auto;

  &__item {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background-color: #bec2c7;
    border: 3px solid transparent;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #7e868f;
    }

    &:active {
      background-color: #e9ebec;
    }

    &--active {
      border-color: $color-main;
      background-color: transparent;
    }
  }
}
