.download {
  text-align: center;

  &__description {
    margin-top: 21px;
    margin-bottom: 0;
    line-height: 1.7;
  }

  &__icon {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 34px;
    }
  }

  &__icon-apple {
    width: 46px;
    height: 56px;
  }

  &__icon-android {
    width: 42px;
    height: 47px;
  }

  &__icon-microsoft {
    width: 44px;
    height: 42px;
  }
}

@media screen and (min-width: $screen-md) {
  .download {
    text-align: left;
  }

  .download__description {
    font-size: $font-size-big;
    margin-top: 32px;
    margin-bottom: 0;
    line-height: 1.4;
    margin-left: -30px;
  }

  .download__icon {
    &:not(:last-of-type) {
      margin: 0 20px;
    }

    display: inline-block;
    margin: 0 20px;
  }
}

@media screen and (min-width: $screen-lg) {
  .download__description {
    margin-top: 40px;
  }
}
