.download {
  text-align: center;

  &__icon {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .download__description {
    font-size: $font-size-big;
  }
}

@media screen and (min-width: $screen-lg) {
  .download__description {
    margin-top: 40px;
  }
}
