.download {
  text-align: center;

  &__icon {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  &__icon-apple {
    width: 46px;
    height: 56px;
  }

  &__icon-android {
    width: 42px;
    height: 47px;
  }

  &__icon-microsoft {
    width: 44px;
    height: 42px;
  }
}

@media screen and (min-width: $screen-md) {
  .download__description {
    font-size: $font-size-big;
  }
}

@media screen and (min-width: $screen-lg) {
  .download__description {
    margin-top: 40px;
  }
}
