.effect {
  display: none;
}

@media screen and (min-width: $screen-md) {
  .effect {
    display: block;
    padding: 48px 0 25px 0;
  }

  .effect__content {
    width: 50%;
    margin-left: auto;
  }

  .effect__inner-container {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 240px 275px;
    min-height: 290px;
    display: flex;
    align-items: center;
  }

  .effect__content {
    width: 50%;
  }

  .effect__title {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0 11px 0;
    line-height: 1.15;
  }

  .effect__link {
    color: $color-marked;
  }

  .effect__text {
    line-height: 1.7;
  }
}

@media screen and (min-width: $screen-lg) {
  .effect {
    background-color: #f2f2f2;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .effect__content {
    width: 61%;
  }

  .effect__inner-container {
    min-height: 350px;
    background-size: auto;
  }
}
