.features {
  padding: 50px 0 360px 0;
  background-color: #f2f2f2;
  text-align: center;
  background-image: url(../img/iphone-screen-3-desktop@1x.png);
  background-position: center bottom;
  background-repeat: no-repeat;

  &__item {
    margin: 0 0 15px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__item-title {
    font-size: $font-size-big;
    font-weight: 600;
  }

  &__item-image {
    display: none;
  }

  &__image {
    max-width: 100%;
  }
}

@media screen and (min-width: $screen-md) {
  .features {
    padding: 50px 0 0 0;
    background-image: none;
    text-align: left;
  }

  .features__container {
    background-position: left center;
    background-image: url(../img/iphone-screen-3-tablet@1x.png);
    background-repeat: no-repeat;
    min-height: 485px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
  }

  .features__items-wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: $screen-lg) {
  .features {
    padding-top: 0;
    padding-bottom: 40px;
    background-image: none;
    text-align: center;
  }

  .features__item-image {
    display: block;
  }

  .features__items-wrap {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .features__container {
    background-image: none;
  }

  .features__item {
    width: 250px;
    margin-bottom: 0;
  }

  .features__item-title {
    font-size: 30px;
  }
}
