.feedback-form {
  &__section {
    padding: 35px 0 40px 0;

    &--marked {
      background-color: #f2f2f2;
    }

    &--first {
      padding-top: 0;
    }
  }

  &__title {
    display: block;
    margin-bottom: 35px;
    color: $color-marked;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
  }

  &__textarea {
    height: 200px;
    width: 100%;
    padding: 20px;
    border: 2px solid #e5e5e5;
    font-size: $font-size-big;
    margin-bottom: 20px;
    resize: none;
    @include placeholder($color-main);
  }

  &__btn {
    background-color: #2aab6d;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__required {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  &__required-star {
    color: $color-marked;
  }
}

@media screen and (min-width: $screen-md) {
  .feedback-form {
    margin-bottom: 45px;

    &__section {
      &--marked {
        background-color: inherit;
      }

      &--md-bordered {
        border: 2px solid #e5e5e5;
        padding: 40px 50px;
      }
    }

    &__title {
      &--md-bordered {
        position: relative;
        top: -50px;
        background: #fff;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &__submit-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__btn {
      width: 300px;
      margin-bottom: 0;
    }

    &__required {
      width: 190px;
    }

    &__submit-wrap {
      margin-top: 60px;
    }
  }
}
