.field-radio {
  &__title {
    margin: 0 0 40px 0;
    color: $color-marked;
    text-align: center;
    text-transform: uppercase;
  }

  &__item {
    display: block;
    margin-bottom: 40px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__input {
    display: none;
  }

  &__text,
  &__input-visible {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    margin-left: 32px;
    font-size: $font-size-big;
  }

  &__input-visible {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 10px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 0 2px #e5e5e5;

    &:hover {
      box-shadow: 0 0 0 2px $color-main;
    }

    &:active {
      box-shadow: 0 0 0 2px $color-marked;
    }
  }

  &__input:checked + &__input-visible {
    background-color: $color-marked;
  }
}

@media screen and (min-width: $screen-md) {
  .field-radio {
    border: 2px solid #e5e5e5;
    padding: 40px 59px 53px 59px;

    &__title {
      position: relative;
      top: -50px;
      background: #fff;
      display: table;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__text {
      margin-left: 18px;
    }
  }


}
