.field-checkbox {
  &__title {
    margin: 0 0 35px 0;
    color: $color-marked;
    text-align: center;
    text-transform: uppercase;
  }

  &__item {
    display: block;
    margin-bottom: 40px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__input {
    display: none;
  }

  &__text,
  &__input+span {
    display: inline-block;
    vertical-align: middle;
  }
	
	&__text {
		margin-left: 30px;
		font-size: $font-size-big;
	}

	&__input+span {
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 2px solid #e5e5e5;
		background-color: #fff;
	}

	&__input:checked+span {
		background-image: url(../img/icon-check.svg);
		background-repeat: no-repeat;
		background-size: 22px 16px;
		background-position: center;
	}
}
