.field-checkbox {
  &__title {
    margin: 0 0 40px 0;
    color: $color-marked;
    text-align: center;
    text-transform: uppercase;
  }

  &__item {
    display: block;
    margin-bottom: 42px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__input {
    display: none;
  }

  &__text,
  &__input-visible {
    vertical-align: middle;
  }

  &__text {
    margin-left: 25px;
    font-size: $font-size-big;
  }

  &__input + &__input-visible {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #e5e5e5;
    background-color: #fff;

    &:hover {
      border-color: $color-main;
    }

    &:active {
      border-color: $color-marked;
    }
  }

  &__input:checked + &__input-visible {
    background-image: url(../img/icon-check.svg);
    background-repeat: no-repeat;
    background-size: 22px 16px;
    background-position: center;
  }
}

@media screen and (min-width: $screen-md) {
  .field-checkbox {
    border: 2px solid #e5e5e5;
    padding: 40px 57px 50px 57px;

    &__title {
      position: relative;
      top: -50px;
      background: #fff;
      display: table;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__text {
      margin-left: 16px;
    }

    &__items-wrap {
      margin-top: -10px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .field-checkbox {
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .field-checkbox__items-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
  }

  .field-checkbox__item {
    width: 33%;
    margin-right: 0;
    display: flex;
    padding-left: 48px;
  }

  .field-checkbox__text {
    margin-left: 15px;
    padding-top: 7px;
  }

  .field-checkbox__input-visible{
    min-width: 40px;
  }

  .field-checkbox__item:nth-child(1) {
    order: -6;
  }

  .field-checkbox__item:nth-child(2) {
    order: -3;
  }

  .field-checkbox__item:nth-child(3) {
    order: -5;
  }

  .field-checkbox__item:nth-child(4) {
    order: -2;
  }

  .field-checkbox__item:nth-child(5) {
    order: -4;
  }

  .field-checkbox__item:nth-child(6) {
    order: -1;
  }
}
