.inner-intro {
  padding: 45px 0 49px 0;
  margin: 0;
  line-height: 2.2;
  text-align: center;
}

.inner-intro--form {
  br {
    display: none;
  }
}

@media screen and (min-width: $screen-md) {
  .inner-intro {
    font-size: $font-size-big;
    padding: 90px 0 79px 0;
    line-height: 1.7;

    &--form {
      padding: 90px 0 46px 0;
    }
  }

  .inner-intro--photo {
    padding-top: 68px;
    padding-bottom: 74px;
  }

  .inner-intro--form {
    br {
      display: none;
    }

    .xs-hidden {
      display: block;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .inner-intro {
    padding-bottom: 89px;
  }

  .inner-intro--photo {
    padding-top: 62px;
    padding-bottom: 73px;
  }

  .inner-intro--form {
    .xs-hidden {
      display: inline;
    }
  }
}
