.inner-intro {
  padding: 47px 0;
  margin: 0;
  line-height: 2.2;
  text-align: center;
}

@media screen and (min-width: $screen-md) {
  .inner-intro {
    font-size: $font-size-big;
    padding: 90px 0 78px 0;
    line-height: 1.7;

    &--form {
      padding: 90px 0 46px 0;
    }
  }

  .inner-intro {
    padding: 90px 0 91px 0;
  }

  .inner-intro--photo {
    padding-top: 57px;
    padding-bottom: 74px;
  }

  .inner-intro--form {
    br {
      display: none;
    }
  }
}
