.inner-intro {
  padding: 47px 0;
  margin: 0;
  line-height: 2.2;
  text-align: center;
}

@media screen and (min-width: $screen-md) {
  .inner-intro {
    font-size: $font-size-big;
    padding: 90px 0 78px 0;
    line-height: 1.7;

    &--form {
      padding: 90px 0 46px 0;
    }
  }
}
