.intro {
  // padding: 30px 25px 25px 25px;
  padding-top: 25px;
  text-align: center;

  &__text {
    font-size: 24px;
    font-weight: 200;
    color: $color-main;
    margin-top: 13px;
    line-height: 1.3;
  }

  &__triangle {
    position: relative;
    width: 100%;
    z-index: 1;
    bottom: -58px;
    height: 55px;
    position: relative;
    z-index: 1;
  }

  &__container {
    margin-bottom: -50px;
  }
}

@media screen and (min-width: $screen-md) {
  .intro {
    padding-top: 44px;
  }

  .intro__text {
    font-size: 40px;
    margin: 5px 0;
    line-height: 1.15;
  }

  .intro__triangle {
    bottom: -94px;
    height: 90px;
  }
}

@media screen and (min-width: $screen-lg) {
  .intro {
    padding-top: 60px;
  }

  .intro__text {
    font-size: 50px;
  }

  .intro__container {
    margin-bottom: -25px;
  }
}
