.main-menu {
  background-color: rgba(0, 0, 0, 0.5);

  &__container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    // width: 75px;
    // height: 22px;
    // background-image: url(../img/logo-pink-white-mobile.svg);
    // background-repeat: no-repeat;
  }

  &__switcher {
    width: 50px;
    height: 24px;
    margin-right: 40px;
    margin-top: -3px;
    background-image: url(../img/icon-menu-burger.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
  }

  &__link {
    font-weight: 600;
    font-size: $font-size-big;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
    padding: 19px 15px;
  }

  &__top-panel {
    padding: 18px 20px;
    @include clearfix();
  }

  &__outer-container {
    width: auto;
    padding: 0;
  }
}

.main-menu--active {
  background-color: $color-main;

  .main-menu__top-panel {
    background-color: $color-main;
  }

  .main-menu__switcher {
    height: 25px;
    background-image: url(../img/icon-menu-cross.svg);
  }

  .main-menu__list {
    display: block;
  }
}

@media screen and (min-width: $screen-md) {
  .main-menu {
    &__top-panel {
      padding: 35px 0;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .main-menu {
    &__top-panel {
        padding: 25px 0 40px;
    }

    &__outer-container {
      display: flex;
      width: 960px;
    }

    &__container {
      display: flex;
      width: auto;
    }

    &__list {
      flex-grow: 1;
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    &__switcher {
      display: none;
    }

    &__item {
      display: inline-block;
      vertical-align: top;
      padding: 0 37px;
    }

    &__link {
      border: none;
      font-weight: 400;
      padding: 10px 0;
      border-bottom: 2px solid transparent;
      text-transform: none;

      &:hover {
        color: $color-marked;
        border-color: $color-marked;
      }

      &:active {
        color: rgba(255,255,255,.3);
        border-color: rgba(255,255,255,.3);
      }

      &--active {
        border-color: #fff;
      }
    }
  }
}
