.page-footer {
  padding: 40px 0;
  text-align: center;

  &__logo {
    display: inline-block;
    margin-bottom: 35px;
  }

  &__socials {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: $screen-md) {
  .page-footer {
    .container {
      display: flex;
    }

    &__logo,
    &__socials,
    &__powered {
      flex-grow: 1;
      margin-bottom: 0;
    }

    &__powered {
      padding-top: 10px;
    }

    &__logo {
      text-align: left;
    }

    &__powered {
      text-align: right;
    }

    &__socials {
      margin-right: 10px;

    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page-footer__socials {
    margin-right: 0;
    margin-left: 29px;
  }
}
