.page-header {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: 50% 0%;
  background-color: #24303e;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  }

  &__intro .container {
    padding: 28px 20px 32px 20px;
    color: #fff;
    position: relative;
    z-index: 2;
  }

  &__intro {
    &.container {
      width: auto;
      padding: 0;
    }
  }

  &__intro-button {
    width: 280px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    &:hover {
      background-color: #fff;
      color: $color-marked;
    }

    &:active {
      color: rgba(210,40,86,.3);
    }
  }

  &__intro-text {
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px 30px 20px;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.3;
    color: #fff;
    min-height: 170px;
  }

  &__intro-lead-text {
    display: none;
  }

  &__intro-lead-wrap {
    background-color: #1d2631;
    width: 100%;
  }

  &__intro-image {
    width: 258px;
    height: 286px;
    background-image: url(../img/iphone-hand-mobile@1x.png);
    background-repeat: no-repeat;
    margin-top: 110px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-mobile@2x.png);
      background-size: 258px auto;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .page-header__intro {
    .container {
      // width: 660px;
      padding: 70px 20px 32px 20px;
      line-height: 1.2;
    }
  }

  .page-header {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-size: 1200px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }

  .page-header__intro {
    position: relative;
    min-height: 620px;
  }

  .page-header__intro--inner {
    display: block;
    // align-items: center;
    // justify-content: center;
    min-height: 330px;
  }

  .page-header__intro-text {
    font-size: 50px;
    padding: 0 20px;
    line-height: 1.2;
  }

  .page-header__intro-lead {
    width: 53%;
    text-align: center;
  }

  .page-header__intro-lead-text {
    font-size: 40px;
    display: block;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 62px;
    padding-top: 24px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  .page-header__intro-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 545px;
    background-image: url(../img/iphone-hand-tablet@1x.png);
    background-size: 700px auto;
    background-position: 45% bottom;
    z-index: 1;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-tablet@2x.png);
    }
  }

  .page-header__intro-lead-wrap {
    background-color: transparent;
    width: 660px;
  }

  .page-header__intro-button {
    width: 305px;
    margin-left: -22px;
    margin-right: auto;
    margin-bottom: 47px;
  }
}

@media screen and (min-width: $screen-lg) {
  .page-header__intro {
    min-height: 744px;

    &.container {
      width: 940px;
    }
  }

  .page-header {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: 2560px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }

  .page-header__intro-button {
    margin-bottom: 69px;
    font-size: 21px;
    width: 300px;
  }

  .page-header__intro .container {
    padding: 65px 20px 30px 20px;
  }

  .page-header__intro--inner {
    min-height: 285px;
  }

  .page-header__intro-lead-wrap {
    width: 940px;
  }

  .page-header__intro-lead {
    width: 315px;
    margin-top: 75px;
  }

  .page-header__intro-lead-text {
    margin-top: 0;
    font-size: 50px;
    padding-top: 27px;
    margin-bottom: 52px;
  }

  .page-header__intro-text {
    font-size: 50px;
    line-height: 1.2;
  }

  .page-header__intro-image {
    height: 645px;
    background-image: url(../img/iphone-hand-desktop@1x.png);
    background-size: 1050px auto;
    background-position: -21% 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/iphone-hand-desktop@2x.png);
    }
  }
}
