.page-footer {
  padding: 35px 0;
  text-align: center;

  &__logo {
    display: inline-block;
    margin-bottom: 35px;
  }

  &__socials {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: $screen-md) {
  .page-footer {
    .container {
      display: flex;
    }
    &__logo,
    &__socials,
    &__powered {
      flex-grow: 1;
      margin-bottom: 0;
    }
    &__powered {
      padding-top: 10px;
    }
    &__logo {
      text-align: left;
    }
    &__powered {
      text-align: right;
    }
  }
}
