.photos {
  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-image-wrap {
    font-size: 0;
    max-width: 100%;

    &--caption {
      position: relative;

      &:after {
        content: "ПАНОРАМА ДНЯ";
        display: block;
        width: 140px;
        height: 36px;
        background-color: $color-marked;
        color: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 10px;
      }
    }
  }

  &__item-image {
    &--panorama {
      width: 100%;
    }
  }

  &__item-main {
    margin: 0;
  }

  &__item-wrap {
    background: #f2f2f2;
    padding: 20px 15px;
    position: relative;
  }

  &__item-name,
  &__item-time {
    display: inline-block;
    vertical-align: baseline;
  }

  &__item-text {
    line-height: 1.7;
    margin: 0 0 15px 0;
  }

  &__item-name {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__item-time {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }

  &__item-like {
    color: $color-marked;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 2px;
  }
}
