.photos {
  &__item {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__caption-container {
    position: relative;

      &:after {
        content: "ПАНОРАМА ДНЯ";
        display: block;
        width: 140px;
        height: 36px;
        background-color: $color-marked;
        color: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 10px;
      }
  }

  &__item-image-wrap {
    max-width: 100%;
  }

  &__item-image {
    display: block;

    &--panorama {
      width: 100%;
    }
  }

  &__item-main {
    margin: 0;
  }

  &__item-wrap {
    background: #f2f2f2;
    padding: 20px 18px 21px 18px;
    position: relative;
  }

  &__item-name,
  &__item-time {
    display: inline-block;
    vertical-align: baseline;
  }

  &__item-text {
    line-height: 1.75;
    margin: 0 0 12px 0;
  }

  &__item-name {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 3px;
  }

  &__item-time {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }

  &__item-like {
    color: $color-marked;
    padding-left: 31px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;


    &:after {
      content: "";
      display: block;
      width: 13px;
      height: 12px;
      background-image: url(../img/icon-heart.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 2px;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .photos {
    &__caption-container {
      position: relative;

      &:after {
        top: 55px;
      }
    }

    &__item {
      width: 300px;
      display: flex;
      flex-direction: column;
      margin-bottom: 21px;

        &--panorama {
          margin-bottom: 50px;

          .photos__item-wrap {
            padding-bottom: 14px;
          }
        }

        &:nth-last-child(2):not(.photos__item--panorama) {
          margin-bottom: 0;
        }
    }

    &__item-like {
      padding-left: 0;
      padding-right: 20px;

      &:after {
        left: auto;
        right: 0;
      }
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item-image {
      width: 100%;
    }

    &__item-wrap {
      padding: 25px 25px 30px 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 154px;
    }

    &__item-like {
      &--panorama {
        position: absolute;
        top: 25px;
        right: 25px;
        padding-left: 0;
        padding-right: 25px;
        background-position: right 2px;
      }
    }
  }

  .photos__item--panorama {
    width: auto;

    .photos__item-wrap {
      min-height: auto;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .photos {
    &__item {
      margin-bottom: 54px;

      &:nth-last-child(3):not(.photos__item--panorama) {
        margin-bottom: 0;
      }
    }
  }

  .photos__caption-container:after {
    right: 0;
  }

  .photos__item-wrap {
    min-height: 154px;
    padding: 25px 31px 24px 28px;
  }

  .photos__item--panorama {
    margin-bottom: 49px;

    .photos__item-wrap {
      min-height: auto;
    }
  }
}
