.powered {
  &__text,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    margin-left: 10px;

    &:hover {
      path {
        fill: $color-main;
      }
    }

    &:active {
      opacity: .3;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .powered__text {
    font-size: $font-size-big;
  }
}
