.powered {
  &__text,
  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    margin-left: 15px;

    &:hover {
      path {
        fill: $color-main;
      }
    }

    &:active {
      opacity: .3;
    }
  }
}
