.reviews {
  padding: 45px 0 35px 0;
  text-align: center;

  &__item {
    margin: 0 0 35px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__item-name {
    font-style: normal;
    font-size: $font-size-big;
    font-weight: 600;
  }

  &__item-text {
    line-height: 2.2;
  }

  &__item-post {
    display: none;
  }
}

@media screen and (min-width: $screen-md) {
  .reviews {
    padding: 45px 0 13px 0;
  }

  .reviews__item-post {
    padding: 0 0 14px 0;
  }

  .reviews__item-post {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 12px 0;
  }

  .reviews__item-text {
    order: -1;
    font-size: $font-size-big;
    margin-bottom: 30px;
    line-height: 1.8;
  }

  .reviews__item-name {
    font-size: 20px;
  }
}

@media screen and (min-width: $screen-lg) {
  .reviews {
    padding: 70px 0 60px 0;
  }

  .reviews__container {
    position: relative;
    padding: 0 100px;
  }

  .reviews__item {
    padding-top: 110px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 84px;
      height: 62px;
      background-image: url(../img/icon-quotes.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -42px;
    }
  }

  .reviews__item-name {
    font-size: 24px;
  }

  .reviews__item-text {
    margin-top: 0;
  }

  .reviews__dots {
    display: none;
  }

  .reviews__controls-item {
    display: block;
    width: 22px;
    height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .6;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: .2;
    }

    &--left {
      background-image: url(../img/icon-review-arrow-left.svg);
      left: 0;
    }

    &--right {
      background-image: url(../img/icon-review-arrow-right.svg);
      right: 0;
    }
  }
}
