.reviews {
  padding: 45px 0 60px 0;
  text-align: center;

  &__item {
    margin: 0 0 15px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__item-name {
    font-style: normal;
    font-size: $font-size-big;
    font-weight: 600;
  }

  &__item-text {
    line-height: 2;
  }

  &__item-post {
    display: none;
  }

  &--skew-after {
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 25px;
      background-image: url(../img/bg-triangle-white.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 100%;
      z-index: 10;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .reviews__item-post {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__item-text {
    order: -1;
    font-size: $font-size-big;
    margin-bottom: 30px;
  }

  .reviews__item-name {
    font-size: 20px;
  }
}

@media screen and (min-width: $screen-lg) {
  .reviews {
    padding: 70px 0 60px 0;
  }

  .reviews__item {
    padding-top: 110px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 84px;
      height: 62px;
      background-image: url(../img/icon-quotes.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -42px;
    }
  }

  .reviews__item-text {
    margin-top: 0;
  }
}
